<footer id="contact" class="site-foot wrapper">
  <div class="[ site-foot__content ] [ bg-primary font-smooth text-inverted ] [ standard-grid ]">
    <div class="text-illustration">
      <h2 class="
        [ site-foot__header ] [ text-550 md:text-700 lg:text-800 align-center lg:align-left ]
        [ leading-tight md:leading-flat ] [ tracking-fit lg:tracking-flat ]
        "
        >
        {{ 'footer.title' | i18n }}
      </h2>
      <img
      loading="lazy"
      class="site-foot__image"
      src="/static/illustrations/laptop.svg"
      alt=""
      height="311"
      width="465"
    />
    </div>
    <address class="contact">
      <div class="contact__phone">
        <h3 class="[ contact__title ]">
          {{ 'footer.phone' | i18n }}
        </h3>
        <a href="tel:+1{{ site.phoneNumber.split('-').join('') }}">{{ site.phoneNumber }}</a>
      </div>
      <div class="contact__email">
        <h3 class="[ contact__title ]">
          Email
        </h3>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="contact__social">
        <h3 class="[ contact__title ]">
          {{ 'footer.social' | i18n }}
        </h3>
        <a href="{{ site.social.instagram }}">Instagram</a>
        <a href="{{ site.social.facebook }}">Facebook</a>
        <a href="{{ site.social.linkedIn }}">LinkedIn</a>
      </div>
      <div class="contact__address">
        <h3 class="[ contact__title ]">
          {{ 'footer.address' | i18n }}
        </h3>
        <p>{{ site.address }}</p>
      </div>
    </address>
  </div>
</footer>
