<div class="form signup">
  <form
    name="signup"
    method="POST"
    data-netlify="true"
    class="flow text-inverted bg-primary"
  >
    <div class="field" data-field="0">
      <label for="firstName" class="text-400">
        <span class="field-label">{{ 'form.firstName' | i18n }}</span>
      </label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        autocomplete="name"
        placeholder="John"
        required
      />
    </div>

    <div class="field" data-field="1">
      <label for="lastName" class="text-400">
        <span class="field-label">{{ 'form.lastName' | i18n }}</span>
      </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        autocomplete="name"
        placeholder="Doe"
        required
      />
    </div>

    <div class="field" data-field="2">
      <label for="email" class="text-400">
        <span class="field-label">{{ 'form.email' | i18n }}</span>
      </label>
      <input
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        placeholder="inquiries@cgr-consulting.ca"
        required
      />
    </div>

    <div class="field" data-field="3">
      <label for="phone" class="text-400">
        <span class="field-label">{{ 'form.phone' | i18n }}</span>
      </label>
      <input
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        name="phone"
        id="phone"
        autocomplete="tel"
        placeholder="8881234567"
        required
      />
    </div>

    <div class="buttons">
      <div class="field file">
        <label for="file" data-variant="secondary">
          <span class="field-label button font-serif"
            >{{ 'form.upload' | i18n }}</span
          >
        </label>
        <input
          class="visually-hidden"
          type="file"
          name="file"
          id="file"
          accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
        />
      </div>

      <input type="submit" class="button" value="{{ 'form.submit' | i18n }}" />
    </div>
  </form>
</div>
