<a href="#main-content" class="[ skip-link ] [ button ]">Skip to content</a>

<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <div class="site-head__brand" aria-label="Home - Omnium Solutions">
        {% include "logos/cgr-consulting.svg" %}
      </div>
      <div class="menu__wrapper">
        <button
          id="menu-toggle"
          class="[ menu__toggle ] [ button text-uppercase ]"
          data-highlight="true"
          aria-expanded="false"
          aria-labelledby="menu-label"
        >
          Menu
        </button>
        <nav
          id="menu"
          class="[ menu ] [ site-head__nav ]"
          aria-labelledby="menu-label"
          aria-hidden="true"
        >
          <ul class="nav__list">
            {% include "main-nav.html" %}
          </ul>
        </nav>
        <span hidden id="menu__label">Main Menu</span>
      </div>
    </div>
  </div>
</header>
