{% set about = 'navigation.about' | i18n %} {% set mission =
'navigation.mission' | i18n %} {% set contact = 'navigation.contact' | i18n %}
{% set join = 'navigation.join' | i18n %}

<li data-animate="fade-up">
  <a href="#about">{{ about }}</a>
</li>
<li data-animate="fade-up">
  <a href="#mission">{{ mission }}</a>
</li>
<li data-animate="fade-up">
  <a href="#contact">{{ contact }}</a>
</li data-animate="fade-up">
<li data-animate="fade-up">
  <a href="#join" class="button" data-highlight="true">{{ join }}</a>
</li>
