.button {
  @include apply-utility('font', 'serif');

  background-color: get-color('primary');
  border-radius: 2rem;
  border: 0;
  color: get-color('white');
  cursor: pointer;
  display: inline-block;
  font-size: get-size('300');
  letter-spacing: 0.03em;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  /* Makes light text on dark background better*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    background-color: get-color('primary-shade');
  }

  // Variant for secondary buttons (eg. forms)
  &[data-inverted='true'] {
    background-color: get-color('white');
    color: get-color('primary');

    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;

    &:hover {
      background-color: get-color('gray-5');
    }
  }

  &[data-highlight='true'] {
    --icon-size: 0.5rem;
    --icon-space: 0.25rem;

    align-items: center;
    display: flex;

    &::before,
    &::after {
      background-image: url('/static/icons/icon-star.svg');
      content: ' ';
      fill: currentColor;
      height: var(--icon-size);
      width: var(--icon-size);
    }

    &::before {
      margin-right: var(--icon-space);
    }

    &::after {
      margin-left: var(--icon-space);
    }
  }
}
