.hero {
  &__content {
    --flow-space: 2rem;

    > div p {
      --flow-space: 0.5rem;
    }
  }

  .form__container {
    max-width: 40rem;
  }

  @include media-query('md') {
    &__content {
      grid-column: 1 / span 2;
    }

    .form__container {
      align-self: center;
      grid-column: 3 / span 2;
      justify-self: center;
      margin: 2ex 0 0;
      padding: unset;
    }
  }

  @include media-query('lg') {
    &__content {
      grid-column: 1 / span 4;
    }

    .form__container {
      grid-column: 5 / span 4;
      max-width: unset;
      width: min(100%, 23em);
    }
  }
}
