.dialog {
  display: none;
  height: 100vh;
  left: 0;
  margin: 0 !important;
  padding-inline: 1rem;
  place-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  &.is-visible {
    display: grid;
  }

  &__overlay {
    background-color: var(--color-primary-tint);
    opacity: 0;
    inset: 0;
    pointer-events: none;
    position: absolute;

    transition: opacity 0.3s ease-out;
  }

  &.is-visible &__overlay {
    opacity: 0.5;
  }

  &__content {
    background-color: var(--color-white);
    border-radius: 0.5rem;
    margin-inline: auto;
    max-height: calc(100vh - 2rem);
    max-width: 90rem;
    position: relative;
    width: calc(100vw - 2rem);
    z-index: 10;

    opacity: 1;
    transform: translate(0, 20px);
    transition: all 0.25s ease-out;
    transition-delay: 0.3s;

    > * {
      align-self: center;
    }
  }

  &.is-visible &__content {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: 0;
    width: 2rem;
    height: 2rem;

    svg {
      height: 100%;
      width: 100%;

      > * {
        stroke: var(--color-white);
      }
    }

    &:hover {
      svg > * {
        stroke: var(--color-gray-4);
      }
    }
  }

  .signup-intro {
    display: none;
  }

  @include media-query('md') {
    padding-inline: 2.5rem;

    .form {
      grid-column: 1 / -1;
    }

    &__content {
      width: calc(100vw - 5rem);
    }

    &__close {
      right: 2rem;
      top: 2rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @include media-query('lg') {
    &__content {
      padding: 7rem 0;
      width: auto;
    }

    &__title {
      margin-bottom: 3rem;
    }

    .signup-intro {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-column: 2 / span 4;
    }

    .form {
      grid-column: 7 / span 5;
    }

    &__close {
      svg {
        > * {
          stroke: var(--color-primary);
        }
      }

      &:hover {
        svg > * {
          stroke: var(--color-primary-shade);
        }
      }
    }
  }
}
