.focus {
  text-align: center;

  img {
    width: 100%;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  p + p {
    margin-top: 0.5rem;
  }

  article * {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 35.875rem;
  }

  @include media-query('lg') {
    text-align: left;

    article {
      display: flex;
      align-items: center;
    }

    article {
      * {
        margin-left: 0;
        margin-right: 0;
      }

      > * {
        flex-basis: 50%;
      }
    }

    div > * {
      margin-left: auto;
      margin-right: auto;
      max-width: 30.125rem;
    }

    h2 {
      margin-bottom: 2rem;
    }

    img {
      margin-bottom: unset;
      max-width: unset;
    }

    .progress img {
      order: 1;
    }
  }
}
