.form {
  --theme-color-bg: #{get-color('white')};
  --theme-color-fg: #{get-color('black')};

  background-color: get-color('white');
  border: 2px solid get-color('black');
  border-radius: 2px;
  color: get-color('black');
  position: relative;
  z-index: 2;

  &__container {
    margin-top: 4rem;
  }

  &__helper,
  &__outline {
    display: none;
  }

  &__title {
    margin: 0 auto get-size('400');
    text-align: center;
  }

  &__subtitle {
    display: block;
    margin-bottom: 0.5rem;
  }

  form {
    --flow-space: 1.6em;

    /* Make sure the font smoothing doesn't change in this element */
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;

    display: flex;
    flex-direction: column;
    padding: 2.5em 1em;
    position: relative;
  }

  .field {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      align-items: center;
      display: flex;
    }

    .label-icon {
      position: absolute;
      right: 0;
      left: auto;
      line-height: 0;
      top: 1px;
      visibility: hidden;
    }

    input {
      @include apply-utility('leading', 'flat');

      border: 0;
      border-bottom: 1px solid get-color('black');
      padding: 0.35em 0 0.1em;

      &:focus {
        border-color: transparent;
        box-shadow: 0 4px 0 get-color('primary');
        outline: none;
      }

      &::placeholder {
        opacity: 0;
      }

      &:not(:placeholder-shown):invalid {
        border: 0 !important;
        box-shadow: 0 2px 0 get-color('error') !important;
      }

      &:not(:placeholder-shown):invalid ~ .label-icon {
        visibility: visible;
      }
    }
  }

  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: get-color('black');
  }

  input[type='submit'],
  input[type='file'] {
    border: 0;
    border-radius: 2px;
  }

  label.button {
    border-radius: 2px;
    display: block;
    line-height: inherit;
  }

  .file:focus-within {
    outline: 2px dashed get-color('primary');
    outline-offset: 0.25rem;
  }

  input[type='submit'] {
    color: get-color('white');
    margin-left: 0;
    margin-right: 0;
  }

  @include media-query('md') {
    display: flex;
    align-items: center;

    &__container {
      .outline-container {
        margin: 0 auto;
        max-width: 38em;
        position: relative;
      }
    }

    &__title {
      margin-bottom: get-size('500');
      max-width: unset; /* removing character limit*/
    }

    &__helper,
    &__outline {
      display: block;
    }

    &__helper {
      align-self: stretch;
      flex-basis: 44%;
      position: relative;

      picture,
      img {
        height: 100%;
        object-fit: contain;
      }

      .error {
        align-items: center;
        background-color: get-color('primary');
        color: get-color('white');
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: absolute;
        text-align: center;

        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        z-index: 2;

        svg {
          margin-bottom: 1.5rem;
        }

        p {
          opacity: 0;
        }

        p + p {
          margin-top: 0.5rem;
        }

        .message {
          max-width: 16ch;
        }
      }

      .message {
        max-width: 20ch;
      }

      &[data-variant='error'] {
        .error {
          opacity: 1;
        }
      }
    }

    form {
      flex-basis: 56%;
      padding: 2em 2.75em;

      &[data-variant='full'] {
        flex-basis: 100%;
      }

      &[data-size='full'] {
        flex-basis: 100%;
      }

      &:not([data-size='full']) {
        input[type='submit'] {
          --flow-space: #{get-size('600')};
        }
      }
    }

    .field {
      &[data-variant='error'] {
        input {
          border-color: transparent;
          box-shadow: 0 2px 0 get-color('error');

          &:focus {
            box-shadow: 0 2px 0 get-color('error');
          }
        }
      }
    }

    &__outline {
      border: 2px solid get-color('black');
      border-radius: 2px;
      transform: translate(16px, 16px);
      position: absolute;

      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  @include media-query('lg') {
    &__container {
      .outline-container {
        max-width: 53.5em;
      }
    }

    &__title {
      margin-bottom: 2rem;
    }

    &__helper {
      flex-basis: 57%;
      align-self: stretch;
    }

    form {
      flex-basis: 43%;
      padding: 2em 3em;

      flex-basis: 56%;
      padding: 2em 2.75em;
    }

    .field {
      input {
        margin-top: 0.5em;
        padding: 0.7em 0 0.2em;
      }

      &.file {
        margin-top: 2em;
      }
    }

    .button {
      padding: 1rem 1.6rem;
    }
  }
}
