.form {
  border-radius: 0.5rem;
  color: get-color('white');

  &__subtitle {
    display: block;
    margin-bottom: 0.5rem;
  }

  form {
    --flow-space: 1.6em;

    /* Make sure the font smoothing doesn't change in this element */
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;

    display: flex;
    flex-direction: column;
    padding: 2.5em 1em;
    position: relative;
  }

  .field {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      align-items: center;
      display: flex;
    }

    &__message {
      position: absolute;
      right: 0;
      left: auto;
      line-height: 0;
      top: 1px;
      visibility: hidden;
    }

    input {
      @include apply-utility('leading', 'flat');

      border: 0;
      border-bottom: 1px solid get-color('black');
      padding: 0.35em 0 0.1em;

      &:focus {
        border-color: transparent;
        box-shadow: 0 4px 0 get-color('primary');
        outline: none;
      }

      &::placeholder {
        opacity: 0;
      }

      &:not(:placeholder-shown):invalid ~ &__message {
        visibility: visible;
      }
    }
  }

  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: get-color('black');
  }

  input[type='submit'],
  input[type='file'] {
    border: 0;
    border-radius: 2px;
  }

  label.button {
    border-radius: 2px;
    display: block;
    line-height: inherit;
  }

  .file:focus-within {
    outline: 2px dashed get-color('primary');
    outline-offset: 0.25rem;
  }

  input[type='submit'] {
    color: get-color('white');
    margin-left: 0;
    margin-right: 0;
  }

  @include media-query('md') {
    display: flex;
    align-items: center;

    form {
      flex-basis: 56%;
      padding: 2em 2.75em;

      &[data-variant='full'] {
        flex-basis: 100%;
      }

      &[data-size='full'] {
        flex-basis: 100%;
      }

      &:not([data-size='full']) {
        input[type='submit'] {
          --flow-space: #{get-size('600')};
        }
      }
    }

    .field {
      &[data-variant='error'] {
        input {
          border-color: transparent;
          box-shadow: 0 2px 0 get-color('error');

          &:focus {
            box-shadow: 0 2px 0 get-color('error');
          }
        }
      }
    }
  }

  @include media-query('lg') {
    form {
      padding: 2em 3em;
    }

    .field {
      input {
        margin-top: 0.5em;
        padding: 0.7em 0 0.2em;
      }

      &.file {
        margin-top: 2em;
      }
    }

    .button {
      padding: 1rem 1.6rem;
    }
  }
}
