.form {
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: get-color('white');

  form {
    --flow-space: 2rem;

    /* Make sure the font smoothing doesn't change in this element */
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;

    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3rem 1.5rem;
    position: relative;
  }

  .field {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      @include apply-utility('font', 'sans');
      @include apply-utility('tracking', 'loose');

      align-items: center;
      color: var(--color-gray-5);
      display: flex;
      text-transform: uppercase;
    }

    input {
      @include apply-utility('leading', 'flat');

      background-color: var(--color-primary);
      border: 0;
      border-bottom: 1px solid var(--color-white);
      color: var(--color-white);
      font-size: get-size('400');
      margin-top: 0.75rem;
      padding: 0 0 0.25rem;

      &:focus {
        border-color: transparent;
        box-shadow: 0 2px 0 get-color('white');
        outline: none;
      }

      &::placeholder {
        opacity: 0;
      }
    }
  }

  .buttons {
    margin-top: 2rem;
  }

  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: get-color('black');
  }

  input[type='submit'],
  input[type='file'] {
    border: 0;
    border-radius: 2px;
  }

  .file {
    &,
    * {
      margin-top: 0;
    }

    label {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: inherit;

      & > span {
        border: 1px solid get-color('white');
      }
    }
  }

  .file:focus-within {
    outline: 2px dashed get-color('white');
    outline-offset: 0.25rem;
  }

  input[type='submit'] {
    background-color: get-color('white');
    border-radius: 2rem;
    color: get-color('primary');
    margin: 1rem 0 0;
  }

  @include media-query('md') {
    display: flex;
    align-items: center;
  }

  @include media-query('lg') {
  }
}
