.hero {
  --flow-space: 2.5rem;
  margin-top: 3rem;

  &__image {
    object-fit: cover;
    height: 30vh;
  }

  &__text {
    > * {
      --flow-space: 1.25rem;
    }
  }

  @include media-query('md') {
  }

  @include media-query('lg') {
  }
}
