.menu {
  background-color: var(--color-primary);
  display: flex;
  inset: 0;
  opacity: 0;
  padding: 15vh 1rem;
  place-content: center;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.3s ease-out;
  z-index: 10;

  &[aria-hidden='false'] {
    opacity: 1;
    pointer-events: all;
  }

  a {
    color: var(--color-white);
    display: block;
    font-size: get-size('550');
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__toggle {
    letter-spacing: 0.03em;
    position: relative;
    z-index: 20;
  }

  @include media-query('md') {
    background: 0;
    inset: unset;
    opacity: 1;
    pointer-events: all;
    position: static;
    padding: unset;
    display: block;

    a {
      color: inherit;
      font-size: get-size('300');
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-decoration: none;
    }

    &__toggle {
      display: none !important;
    }
  }
}
