.mission {
  &__text {
    p {
      margin-top: 1.25rem;
    }
  }

  .objectives {
    margin-top: 2.5rem;

    > * + * {
      margin-top: 2.5rem;
    }

    li {
      --flow-space: 0.625rem;

      img {
        height: 5rem;
        margin-inline: auto;
      }
    }
  }
}
