.site-foot {
  --flow-space: 2.5rem;
  background-color: var(--color-primary);
  margin-top: 5rem;
  margin-bottom: 2rem;

  > div {
    padding-block: var(--flow-space);
  }

  .text-illustration {
    margin-bottom: var(--flow-space);
  }

  &__image {
    margin: var(--flow-space) auto 0;
    width: 44vw;
    height: 29vw;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;

    > * {
      flex: 1 1 50%;
      margin-bottom: 2.5rem;
    }

    a,
    p {
      color: var(--color-white);
      font-size: get-size('300');
      @include apply-utility('leading', 'loose');
    }

    a {
      display: block;
      text-decoration: none;
    }

    a + a {
      margin-top: 0.25rem;
    }

    &__title {
      color: get-color('gray-5');
      font-size: get-size('300');
      margin-bottom: 1.25rem;
      text-transform: uppercase;

      @include apply-utility('font', 'sans');
      @include apply-utility('leading', 'tight');
    }
  }

  @include media-query('md') {
    border-radius: 0.5rem;
    background-color: var(--color-white);

    &__image {
      width: 25rem;
    }

    .text-illustration {
      grid-column: 2 / -2;
    }

    .contact {
      margin-top: 3rem;
      grid-column: 3 / -1;

      > *:nth-child(odd) {
        flex: 0 1 33%;
      }

      > *:last-child {
        p {
          max-width: 18ch;
        }
      }

      a,
      p {
        font-size: get-size('400');
      }

      &__title {
        font-size: get-size('400');
      }
    }
  }

  @include media-query('lg') {
    .text-illustration {
      align-items: center;
      display: flex;
    }

    &__header {
      max-width: 8ch;
    }

    &__image {
      flex-basis: 40%;
      margin: 0 0 0 1.25rem;
      height: 20.5rem;
    }

    .contact {
      grid-column: 2 / -2;
      display: grid;
      grid-template-columns: repeat(4, auto);
    }
  }
}
