.slides {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  > * {
    flex: 1 0 100%;
  }

  .slide {
    display: flex;
    flex-flow: row wrap;
    scroll-snap-align: start;

    > * {
      align-self: start;
    }

    p {
      flex: 1 0 100%;
      line-height: 1.3;
    }

    svg {
      flex: 0 0 40%;
    }
  }
}
