/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  --grid-margin: 1rem;
  max-width: 90rem;
  padding: 0 var(--grid-margin);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media-query('md') {
    --grid-margin: 2.5rem;
  }
}
