/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 90rem;
  padding: 0 get-size('300');
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media-query('md') {
    padding: 0 get-size('600');
  }
}
