<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% seo "" %}
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml" />
    {% bundledCSS %} {% bundledJS %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "header.html" %}
      <main id="main-content" tabindex="-1" class="flow">
        {%- block content %}{% endblock -%}
      </main>
      {% include "footer.html" %}
    </div>
  </body>
</html>
