{% macro path(pathName, value='', type='text') %} "{{pathName}}/{{value}}" {%
endmacro %} {% extends './base.html' %} {% block content %}
<section class="hero">
  <div class="hero__content flow">
    <div class="wrapper">
      <h1
        class="[ hero__heading ] [ text-500 md:text-600 lg:text-600 ] [ leading-tight ]"
      >
        {{ hero.title }}
      </h1>
    </div>
    <img
      loading="lazy"
      src="/static/img-hero.jpg"
      alt=""
      srcset="/static/img-hero.jpg 1x, /static/img-hero-hd.jpg 2x"
      height="576"
      width="1440"
    />
    <div class="wrapper flow">
      <h2
        class="
          [ hero__subtitle ] [ text-400 text-uppercase font-smooth ] [ font-sans leading-tight tracking-loose ]
        "
      >
        {{ hero.subtitle }}
      </h2>
      {% for text in hero.description %}
      <p class="[ hero__description ] [ text-400 leading-loose ]">{{ text }}</p>
      {% endfor %}
    </div>
  </div>
</section>

<article id="about" class="[ about ] [ bg-primary ] [ text-inverted align-center md:align-left ]">
  <div class="wrapper flow">

    <h2
      class="[ about__header ] [ font-sans text-700 md:text-800 ] [ leading-flat ]"
    >
      <span
        class="[ header__prefix ] [ text-400 md:text-500 ] [ leading-tight font-italic ]"
        >({{about.prefix}})</span
      >
      {{about.title}}
    </h2>
    <div class="since">
      {% include 'illustrations/since-star.svg' %}
    </div>
    <div>
      <p class="[ about__description ] [ text-300 md:text-400 ]">{{about.text}}</p>
    </div>
    <div class="logo-garden">
      <div class="logo">
        {% for company in about.logos %} {%- include "logos/logo-" + company +
        ".svg" -%} {% endfor %}
      </div>
    </div>
  </div>
</article>

<article id="mission" class="mission wrapper flow">
  <div>
    <h2 class="
      [ mission__header ] [ text-550 md:text-700 lg:text-800 ]
      [ leading-tight md:leading-flat ][ tracking-fit md:tracking-tight lg:tracking-flat ]">
      {{ mission.title }}
    </h2>
    <p class="[ text-300 md:text-400 ]">{{ mission.description }}</p>
  </div>
  <ul class="objectives">
    {% for goal in mission.objectives %}
    <li class="goal align-center">
      <img src="/static/{{ goal.image }}" alt="" />
      <h3 class="[ font-sans text-uppercase ] [ text-300 md:text-400 leading-tight tracking-loose ]">
        {{ goal.title }}
      </h3>
      <p class="[ text-300 md:text-400 ]">{{ goal.description }}</p>
    </li>
    {% endfor %}
  </ul>
</article>

<article id="join" class="[ join ] [ wrapper flow align-center ]">
  <div class="flow">
    <h2 class="
      [ join__header ] [ text-550 md:text-700 lg:text-800 ]
      [ leading-tight md:leading-flat ] [ tracking-fit tracking-flat ]">
      {{ careers.title }}
    </h2>
    <p class="[ join__description ] [ text-300 md:text-400 ]">{{ careers.description }}</p>
  </div>
  <section class="work flow">
    <h3 class="[ work__header ] [ font-sans text-uppercase md:text-500 ] [ leading-tight tracking-loose ]">
      {{ careers.work }}
    </h3>
    <ul class="perks flow">
      {% for perk in careers.perks %}
      <li class="perk">
        <img src="/static/{{ perk.image }}" alt="" />
        <h4 class="[ font-sans text-uppercase text-300 ] [ leading-fit tracking-loose ]">{{ perk.title }}</h4>
        <p class="[ text-300 md:text-400 ] [ align-left lg:align-center ]">{{ perk.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
  <button type="button" class="button">{{ 'cta' | i18n }}</button>
</article>
{% endblock %}
