@font-face {
  font-family: 'Cirka Light';
  src: url('/static/fonts/Cirka/Cirka-Light.woff2') format('woff2'),
    url('/static/fonts/Cirka/Cirka-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cirka Regular';
  src: url('/static/fonts/Cirka/Cirka-Regular.woff2') format('woff2'),
    url('/static/fonts/Cirka/Cirka-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
